body, html {
  margin: 0;
  padding: 0;
  height: 100vh; /* Set height to fill viewport */
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
}

.vertical-nav {
  width: 600px; /* Adjust the width as needed */
  background-color: #777;
  color: #fff; /* Tab text color changed to white */
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculation */
  height: 100vh; /* Full height of viewport */
  position: fixed; /* Fixed position to stay visible while scrolling */
  left: 0;
  top: 0;
}

.vertical-nav ul {
  list-style-type: none;
  padding: 0;
}

.vertical-nav li {
  margin-bottom: 10px;
  position: relative;
}

.vertical-nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.vertical-nav a:hover {
  background-color: #555;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0;
}

.vertical-nav li:hover .sub-menu {
  display: block;
}

.sub-menu li {
  display: inline-block;
  margin-right: 10px;
}

.right-content {
  /* Move the text on the right of the screen to the top */
  align-self: flex-start;
}
